<header class="row align-items-center justify-content-between">
        <div class="col-3 d-flex align-items-center">
            <a class="logo-container" href="/">
                <img class="logo" src="static/images/Лого.png">
            </a>
            {% if request.path == "/admin" or request.path == "/commands" %}
                <a class="link" href="https://twitch.tv/{{request.query_params.get("channel", "")}}"><h2>{{request.query_params.get("channel", "")}}</h2></a>
            {% endif %}
            <h1>{{page}}</h1>
        </div>
    {% if request.path == "/commands" %}
    <div class="col d-none justify-content-center">
        <label for="searcher"><input type="search" id="searcher" placeholder="Поиск.."></label>
    </div>
    {% endif %}
    <div class="col-3 d-flex justify-content-end">
        {% include 'user.html' %}
    </div>
</header>