{% extends 'index.html' %}

{% block links %}
<link rel="stylesheet" href="/static/css/commands-styles.css">
{% endblock %}

{% block title %}Команды{% endblock %}

{% block content %}
    {% include 'app/app_header.html' %}
    <section class="container commands-container">
        <table class="table table-light table-bordered commands">
            <colgroup>
                <col class="name"/>
                <col class="description"/>
                <col class="returns"/>
                <col class="cooldown"/>
                <col class="state"/>
              </colgroup>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Вывод</th>
                <th>КД</th>
                <th>Сост.</th>
            </tr>
            <tr>
                <td>помощь</td>
                <td>Выводит ссылку на страницу с командами</td>
                <td>{пользователь}, список доступных команд: {ссылка на команды}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>курс</td>
                <td>Выводит текущий курс доллара, евро, йены и гривны в рубли, можно также перевести из из одной валюты в другую, например (!курс usd-eur 4000, !курс usd-uah 15)</td>
                <td>
                    {пользователь}, Курс валют на {время сейчас}: USD = {курс доллара} RUB | EUR = {курс евро}
                    RUB | BTC = {курс биткоина} RUB | UAH = {курс гривны} RUB
                </td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>время</td>
                <td>показывает время по МСК, если добавить какой либо населённый пункт (или страну), выведет текущее время в этом пункте</td>
                <td>{пользователь}, Сейчас {время}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>перевод</td>
                <td>Принимает слово или предложение, возвращает то же слово или предложение, но переведённое на русский язык, можно указать вводимый язык и в какой язык нужно перевести</td>
                <td>{пользователь}, {перевод}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>статистика</td>
                <td>Возвращает статистику пользователя, использовавшего команду, если команда введена с параметром, то бот выдаст статистику на пользователя по параметру</td>
                <td>{пользователь} написал всего сообщений: {кол-во сообщений}, проведено времени в чате: {кол-во времени}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>порф</td>
                <td>Принимает предложение и выдаёт попытку искусственного интеллекта его продолжить по смыслу, используются сервис Порфирьевич</td>
                <td>{пользователь}, {продолжение к фразе}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>бал</td>
                <td>Принимает предложение и выдаёт попытку искусственного интеллекта его продолжить по смыслу, используются сервис Балабола</td>
                <td>{пользователь}, {продолжение к фразе}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>анекдот</td>
                <td>Выводит случайный анекдот</td>
                <td>{пользователь}, {анекдот}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
            <tr>
                <td>цитата</td>
                <td>выводит случайную цитату</td>
                <td>{пользователь}, {цитата}</td>
                <td>10</td>
                <td>Вкл</td>
            </tr>
        </table>
        <p class="copyright">© 2023 Slonbot. All rights reserved.</p>
    </section>
{% endblock %}