{% if request.path == "/" %}
    <footer>
    <div class="sub-footer">
        <h2 class="sub-offer">Всё ещё сомневаетесь? Тогда убедитесь сами!</h2>
        <a class="twitch-login" href="profile">
            <img src="static/images/twitch-logo.svg">
            <p>Зайти через твич</p>
        </a>
    </div>
    {% else %}
    <footer class="anonym">
    {% endif %}
    <div class="socials">
        <a href="https://twitch.tv/slonb0t"><img src="static/images/twitch-logo-white.svg"></a>
        <a href="#"><img src="static/images/Telegram logo.svg"></a>
    </div>
    <div class="contacts">
        <p>© 2023 Slonbot. All rights reserved.</p>
        <p>e-mail: gruzdewdanil@yandex.ru</p>
    </div>
</footer>